body{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr6evWp9KXiMPZQ-BCuv5wxVvDT_bmsxTjt3mU8O-fDfv3Yew3c-p0vxMGbbw5WQC6vks&usqp=CAU");
    background-repeat:repeat-y;
    background-position: left;
}